h1{
	text-align: center;
}
input{
	margin-left:190px;
}
#jeu{
	width: 500px;
	height:550px;
	background-color: #2a2a2a;
	margin:10px auto;
	padding: 10px;
	overflow:auto;
}

#jeu div{
	width: 380px;
	margin:auto;
}

#jeu button{
	width:100px;
	height:100px;
	margin: 10px;
	margin-top:40px;
	float:left;

}


#jeu #state{
	color:#FFF;
	padding:15px 10px

}

.chrono{
	width:500px;
	height:100px;
	background-color: #2a2a2a;
	margin : 10px auto;
	padding : 10px;
	overflow:auto;
}

.chrono h2{
	color:#FFFFFF;
	text-align: center;
	font-size: 30px;
	margin-top:20px;
	margin-bottom:20px;
}

.chrono button{
	float:left;
	margin-left: 95px;

}

.score{
	background-color: #2a2a2a;
	height: 100px;
	width:500px;
	margin:10px auto;
}
